.root {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #e8f7eecc;
  animation: 0.3s show ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.none {
  display: none;
}

.window {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  box-shadow: 0 0 15px #575f5a;
  background: #fff;
  border-radius: 14px;
  padding: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
}

.text {
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-top: 22px;
  width: 480px;
}

@media (max-width: 600px) {
  .window {
    gap: 20px;
    padding: 20px 14px;
  }

  .header {
    font-size: 22px;
  }

  .text {
    font-size: 14px;
    margin-top: 16px;
    width: 280px;
  }
}
