.root {
  display: flex;
  justify-content: center;
  margin-top: -280px;
  padding-top: 280px;
  background: no-repeat center center
    url("../../../assets/promo/backgroundBanner.jpg");
}

.wrapper {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.header {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.paragraph {
  margin: 30px 0 50px;
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .wrapper {
    flex-direction: column;
    gap: 148px;
    margin-top: 100px;
  }

  .order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin-top: 70px;
  }

  .header {
    font-size: 32px;
  }

  .paragraph {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 50px;
    gap: 70px;
  }

  .header {
    font-size: 24px;
  }

  .paragraph {
    font-size: 16px;
    margin: 22px 0 36px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    gap: 50px;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }
}
