.root {
  display: flex;
  justify-content: center;
  background: no-repeat -200px -230px
      url("../../../assets/goodNutrition/circles.svg"),
    no-repeat calc(100% + 230px) calc(100% + 250px)
      url("../../../assets/goodNutrition/circles.svg"),
    #35b86c;
  margin-top: 280px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -204px;
  margin-left: -120px;
}

.imageDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: absolute;
  bottom: -34px;
  width: 360px;
  height: 68px;
  background-color: #fff;
  border-radius: 64px;
}

.imageDescription::after {
  content: "";
  position: absolute;
  border: 2px dotted #35b86c44;
  width: 350px;
  height: 58px;
  border-radius: 58px;
}

.imageTitle {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.imageText {
  font-size: 14px;
  font-weight: 600;
  color: #35b86c;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 58px;
  width: 790px;
}

.header {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

.list {
  display: flex;
  margin: 0;
  padding-left: 20px;
  flex-direction: column;
  gap: 20px;
  height: 122px;
  flex-wrap: wrap;
  list-style-position: unset;
  list-style-image: url("../../../assets/goodNutrition/checkmark-proper-diet.svg");
}

.item {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.item:nth-child(n + 4) {
  margin-left: 150px;
  width: 350px;
}

@media (max-width: 1280px) {
  .root {
    margin-top: 150px;
  }

  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 50px;
  }

  .imageWrapper {
    position: relative;
    top: 86px;
    margin: 0;
    margin-top: -86px;
  }

  .header {
    width: 440px;
  }

  .content {
    width: auto;
    gap: 40px;
  }

  .list {
    flex-wrap: nowrap;
    height: auto;
    margin-left: 24px;
  }

  .item:nth-child(n + 4) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .root {
    margin: -60px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 22px;
    width: auto;
    padding-left: 30px;
  }

  .imageWrapper {
    top: 14px;
    margin: 0;
  }

  .image {
    width: 314px;
  }

  .imageDescription {
    width: 320px;
    bottom: -64px;
  }

  .imageDescription::after {
    width: 312px;
  }

  .content {
    width: 280px;
  }

  .list {
    margin: 0;
  }

  .item {
    font-size: 18px;
  }

  .item:nth-child(n + 4) {
    width: 260px;
  }
}

@media (max-width: 320px) {
  .root {
    display: block;
    margin: -60px auto;
  }

  .wrapper {
    width: 320px;
  }
}
