.root {
  background: no-repeat 0 0
    url("../../../assets/healthSlider/pattern-products.png");
  padding-top: 154px;
}

.header {
  text-align: center;
  color: #35b86c;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

.item {
  box-sizing: border-box;
  background-color: #ffffff00;
  height: 100%;
  border-radius: 10px;
  outline: none;
  padding: 0 8px;
  margin-top: 104px;
}

.itemImage {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.itemHeader {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.itemText {
  font-size: 16px;
  font-weight: 600;
  color: #6c997f;
  padding: 12px 18px 24px;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .root {
    background-position: 0 60px;
    padding-top: 210px;
  }

  .header {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .root {
    background-position: 0 60px;
    padding-top: 164px;
  }

  .header {
    font-size: 22px;
  }

  .itemHeader {
    font-size: 16px;
  }

  .itemText {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }
}
