@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/latoRegular.woff") format("woff"),
    url("./assets/fonts/latoRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/latoMedium.woff") format("woff"),
    url("./assets/fonts/latoMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/latoSemibold.woff") format("woff"),
    url("./assets/fonts/latoSemibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/latoBold.woff") format("woff"),
    url("./assets/fonts/latoBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-slide {
  transition: 0.5s;
  opacity: 50%;
}

.slick-center {
  transition: 0.5s;
  opacity: 100%;
}

.slick-arrow {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: #35b86c;
  font-size: 0;
  cursor: pointer;
  transition: 0.3s background-color, border;
}

.slick-arrow:active {
  background-color: #fff;
  border: 1px solid #35b86c;
  transition: 0.3s background-color, border;
}

.slick-arrow::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}

.slick-arrow:active::before {
  border-left: 2px solid #35b86c;
  border-top: 2px solid #35b86c;
}

.slick-prev::before {
  transform: rotate(-45deg);
  margin-left: 4px;
}

.slick-next::before {
  transform: rotate(135deg);
  margin-left: -4px;
}

.slick-prev {
  left: calc(50% - 70px);
}

.slick-next {
  right: calc(50% - 70px);
}
